@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Movie.Name</h2>
@if(0 >= Model.Customers.Count)
{
    <p>No one has rented this movie.</p>
}
else
{
    <li>
        @foreach (var customer in Model.Customers)
        {
            <ul>
                @customer.Name
            </ul>
        }
    </li>
}

